<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-img">
      <%= image_tag "cspace3.svg", height: 80 %>
    </div>
    <div class="container-link">
      <div class="lien">
        <ul class="ul-list">
          <li class="li-list"><%= link_to "Home", root_path %></li>
          <li class="li-list"><%= link_to "Offices", offices_path %></li>
          <li class="li-list"><%= link_to "About", offices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="titre">
      <h1>Offices</h1>
      <div class="container1">
        <div class="button">
          <%= link_to "Back home", root_path %>
        </div>
      </div>
    </div>


    <div class="container container-card">
        <% @offices.each_with_index do |office, i| %>
          <ul class="ul-card">
            <%= link_to office_path(office), style: "animation-delay: #{i * 0.4}s;" do  %>
              <h4><li class="li-card"><%= office.name %></li></h4>
              <li class="li-card"><%= office.city %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
</div>
