<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-img">
      <%= image_tag "cspace3.svg", height: 80 %>
    </div>
    <div class="container-link">
      <div class="lien">
        <ul class="ul-list">
          <li class="li-list"><%= link_to "Home", root_path %></li>
          <li class="li-list"><%= link_to "Offices", offices_path %></li>
          <li class="li-list"><%= link_to "About", offices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="titre">
      <h1>Offices</h1>
      <div class="container1">
        <div class="button">
          <%= link_to "Back home", root_path %>
        </div>
      </div>
    </div>


    <div class="container container-card">
        <% @offices.each_with_index do |office| %>
        <ul class="ul-card">
            <h4><li class="li-card"><%= office.name %></li></h4>
            <li class="li-card"><%= office.address %></li>
            <li class="li-card"><%= office.city %></li>
            <li class="li-card"><%= office.country %></li>
            <li class="li-card"><%= "#{office.size}m2" %></li>
            <li class="li-card"><%= "#{office.capacity} people maximum" %></li>
            <li class="li-card"><%= "#{office.price}€" %> </li>
        </ul>
      <% end %>
    </div>
</div>
