<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-img">
      <%= image_tag "cspace3.svg", height: 80 %>
    </div>
    <div class="container-link">
      <div class="lien">
        <ul class="ul-list">
          <li class="li-list"><%= link_to "Home", root_path %></li>
          <li class="li-list"><%= link_to "Offices", offices_path %></li>
          <li class="li-list"><%= link_to "About", offices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container container-card">
      <ul class="ul-card">
        <h1><%= @office.name  %></h1>
          <li class="li-card"><%= "Address: #{@office.address}" %></li>
          <li class="li-card"><%= "City: #{@office.city}" %></li>
          <li class="li-card"><%= "Country: #{@office.country}" %></li>
          <li class="li-card"><%= "Size: #{@office.size}m2" %></li>
          <li class="li-card"><%= "Capacity: #{@office.capacity} people maximum" %></li>
          <li class="li-card"><%= "Price/hour: #{@office.price}€" %> </li>
        <div class="button">
          <%= link_to "Book", bookings_path %>
        </div>
      </ul>
</div>
