<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-img">
      <%= image_tag "cspace3.svg", height: 80 %>
    </div>
    <div class="container-link">
      <div class="lien">
        <ul class="ul-list">
          <li class="li-list"><%= link_to "Home", root_path %></li>
          <li class="li-list"><%= link_to "Offices", offices_path %></li>
          <li class="li-list"><%= link_to "About", offices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-banner">
  <div class="banner">
    <div class="title">
      <h2>Start reimagine <br> <strong>your workspace</strong></h2>
        <div class="button button-home">
          <%= link_to "Get started", offices_path %>
        </div>
    </div>
        <%= image_tag "banner", height: 600 %>
  </div>
</div>

<div class="container grid-container">
  <h1>We help plan the make <br><strong class="h1">Workspace</strong> </h1>
    <div class="content-container">
      <div class="grid-item">
        <h3>Clean environment</h3>
        <p>We've partnered with industry experts to introduce frequent cleanings</p>
      </div>
      <div class="grid-item">
        <h3>Flexible planning</h3>
        <p>Future-proof your business and navigate change with flexible options</p>
      </div>
      <div class="grid-item">
        <h3>Fast <br> working</h3>
        <p>Our 5 locations offer you a workspace where and how you need it</p>
      </div>
    </div>

    <div class="content">
      <div class="content-item">
        <div class="text">
          <h3><strong>Modern</strong> worksapce around you</h3>
          <p>Our 5 locations offer you a worspace where and how you need it, whether your goal is is to be closer to home, empower your distributed teams, or have a dedicated space to focus</p>
        </div>
      </div>
      <di
      v class="content-item">
        <div class="text">
          <p>We pay attention to all customers, so that they get satisfaction when planning a worspace in this business.</p>
          <h3><strong>Awesome</strong> creating a healthier worspace </h3>
        </div>
      </div>
      <div class="content-item">
        <div class="text">
          <h3>Look future worksapce</h3>
          <p>The collaboration hub has seperate quiet spaces for individual work</p>
          <ul>
            <li>Excellent space optimization</li>
            <li>Support interactions with cients and workers</li>
            <li>Easy to find a place</li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="footer">
  <div class="container-footer">
    hello
  </div>
</div>
