<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-img">
      <%= image_tag "cspace3.svg", height: 80 %>
    </div>
    <div class="container-link">
      <div class="lien">
        <ul class="ul-list">
          <li class="li-list"><%= link_to "Home", root_path %></li>
          <li class="li-list"><%= link_to "Offices", offices_path %></li>
          <li class="li-list"><%= link_to "About", offices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-banner">
  <div class="banner">
    <div class="title">
      <h2>Start reimagine <br> <strong>your workspace</strong></h2>
        <div class="button button-home">
          <%= link_to "Get started", offices_path %>
        </div>
    </div>
        <%= image_tag "banner", height: 600 %>
  </div>
</div>

<div class="container grid-container">
  <h1>We help plan the make <br><strong class="h1">Workspace</strong> </h1>
    <div class="content-container">
      <div class="grid-item">
        <h3>Titre 1 </h3>
        <p>Contenu 1</p>
      </div>
      <div class="grid-item">
        <h3>Titre 2 </h3>
        <p>Contenu 2</p>
      </div>
      <div class="grid-item">
        <h3>Titre 3 </h3>
        <p>Contenu 2</p>
      </div>
    </div>

    <div class="content">
      <div class="content-item">
        <h1>Titre 1</h1>
        <p>contenu 1</p>
      </div>
      <div class="content-item">
        <p>contenu 2</p>
        <h1>Titre 2</h1>
      </div>
      <div class="content-item">
        <h1>Titre 3</h1>
        <p>contenu 3</p>
      </div>
    </div>
</div>

<div class="footer">
  <div class="container-footer">
    hello
  </div>
</div>
