<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-img">
      <%= image_tag "cspace3.svg", height: 80 %>
    </div>
    <div class="container-link">
      <div class="lien">
        <ul class="ul-list">
          <li class="li-list"><%= link_to "Home", root_path %></li>
          <li class="li-list"><%= link_to "Offices", offices_path %></li>
          <li class="li-list"><%= link_to "About", offices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container container-banner">
  <div class="banner">
    <h2>Start reimagine your workspace</h2>
        <%= image_tag "banner", height: 600 %>
    </div>
</div>
